/* Main Colors */
[M300] { background-color: #7986CB; color: rgba(255,255,255,.87); }
[M500] { background-color: #3F51B5; color: rgba(255,255,255,.87); }
[M700] { background-color: #303F9F; color: rgba(255,255,255,.87); }

/* Accent Colors */
[A100] { background-color: #8C9EFF; color: rgba(0,0,0,.87); }
[A200] { background-color: #536DFE; color: rgba(255,255,255,.87); }
[A400] { background-color: #3D5AFE; color: rgba(255,255,255,.87); }
[A700] { background-color: #304FFE; color: rgba(255,255,255,.87); }