html, body {
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: #F7FAFC;
  line-height: 1.6;
  font-size: 1.5rem;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, Avenir, "Avenir Next", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;  
}

/* Hide on mobile */
@media screen and (max-width: 660px) {
  [hide-on-mobile] {
    display: none;
  }
}