[filter] {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  white-space: pre;
}

[filter] label {
  padding-left: 25px;
  margin-left: 16px;
}

input[type="checkbox"] {
  margin: 4px 0 0;
  outline: none;
}

[filter] input[type="checkbox"] {
  -webkit-appearance: none;
  margin-left: -25px;
}

[filter] input[type="checkbox"]::after {
  border-color: rgba(0, 0, 0, 0.87);
}

[filter] input[type="checkbox"]:after {
  border: 2px solid;
  border-radius: 2px;
  content: '';
  display: block;
  height: 18px;
  transition: 240ms;
  width: 18px;
}

[fiter] input[type="checkbox"]:checked:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  left: 6px;
  top: 0;
  display: table;
  width: 6px;
  height: 12px;
  border: 2px solid #FFFFFF;
  border-top: 0;
  border-left: 0;
  content: '';
}

[filter] input[type="checkbox"]:checked:after {
  background-color: #3D5AFE;
  border-color: #3D5AFE;
}

[filter] input[type="checkbox"]:disabled:checked:after {
  background-color: rgba(0, 0, 0, 0.26);
  border-color: transparent;
}