body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: arial, sans-serif;
  background-color: #fff;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  height: 100vw;
}
/*Main*/
* {
  box-sizing: border-box;
}

#main {
  overflow: auto;
}

main {
  margin-top: 0.5em;
  display: flex;
  flex-grow: 1;

  article {
    margin: 0.5em;
  }
}

.side-menu {
  width: 25%;
  min-width: 25vw;
  padding-right: 10px;
  margin-right: 10px;
  margin-top: 1em;
  background-color: #f1f1f1;
  border-radius: 4px;
  border: 2px solid #f1f1f1;
}

.side-menu {
  h2,
  h3 {
    margin-left: 20px;
  }
}

.item {
  padding: 8px;
  margin-top: 7px;
  border-bottom: 1px solid #f1f1f1;
  list-style-type: none;
}

.main {
  float: left;
  width: 60%;
  padding: 0 20px;
  overflow: hidden;
}
/*Media Queries*/
@media only screen and (max-width:800px) {
  /* For tablets: */
  .main {
    width: 80%;
    padding: 0;
  }
}
@media only screen and (max-width:500px) {
  /* For mobile phones: */
  .main,
  .side-menu {
    width: 100%;
  }
}
/*Main Container*/
.main {
  display: -webkit-flex;
  display: flex;
  width: 80%;
  height: auto;
  background-color: #f1f1f1;
  border-radius: 4px;
  border: 2px solid #f1f1f1;
}

.flex-item {
  margin: 10px;
  padding-left: 5px;
}

.journal {
  -webkit-flex: 2;
  flex: 2;
}

.discipline {
  -webkit-flex: 2;
  flex: 2;
}

.OSS {
  -webkit-flex: 2;
  flex: 2;
}

.list {
  list-style-type: none;
  padding: 0;
  line-height: 4;
}

.list a:link {
  color: #3597D3;
}

.list a:hover {
  color: #E7403C;
}
/*Navigation*/
.nav-bar {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #069;
}

.nav-bar li {
  float: left;
  padding-top: 20px;
  right: 0;
  left: auto;
  list-style-type: none;
}

.nav-bar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 18px;
  text-decoration: none;
}

.nav-bar li a:hover:not(.active) {
  border-bottom: 3px solid #E7403C;
  color: #E7403C;
}

.active {
  border-bottom: 3px solid #E7403C;
}
/*Media Queries*/
@media only screen and (max-width:800px) {
  /* For tablets: */
  .journal {
    -webkit-flex: 3;
    flex: 3;
  }

  .discipline {
    -webkit-flex: 3;
    flex: 3;
  }

  .OSS {
    -webkit-flex: 2;
    flex: 2;
  }

  .container {
    width: 100%;
    margin: 0;
  }
}
@media only screen and (max-width:500px) {
  /* For mobile phones: */
  .main,
  .side-menu {
    width: 100%;
  }

  .container {
    width: 100%;
    margin: 0;
  }
}

#main {
  /* Sizing */
  max-width: 1200px;
  width: 90%;
  /* Position */
  position: relative;
  margin: 120px auto 20px;
  /* Flex properties */
  display: flex;
  flex-direction: row;
}
/*Logo*/
.logo {
  float: left;
  margin: 10px 10em;
}

nav {
  z-index: 5;
  /* Flex properties */
  display: flex;
  flex-direction: column;
  /* Material shadow */
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.search {
  margin-top: 23px;
}
/*To avoid conflicts used class instead of type*/
input[type=text] {
  width: 60%;
  padding: 10px 20px;
  border: 2px solid #E7403C;
  border-radius: 4px;
}

input[type=text]:focus {
  border: 2px solid #3597D3;
  border-radius: 4px;
}

input.search {
  width: 20%;
  box-sizing: border-box;
  border: 2px solid #3597D3;
  border-radius: 4px; //  background-image: url('../images/searchicon.png');
  background-position: 5px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  margin-left: 2em;
}

input[type=button] {
  border-radius: 4px;
  padding: 14px 40px;
  background: #E7403C;
  border: 2px solid #E7403C;
  text-align: center;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

input[type=button]:hover {
  background: #3597D3;
  border: 2px solid #3597D3;
}
/*Headings*/
h2,
h4 {
  color: #4C4C4D;
}

h3 {
  color: #E7403C;
}
/*Footer*/
footer {
  background-color: #069;
  padding: 50px;
  margin-top: 7px;
  color: #fff;
}

.div-one {
  float: left;
}

.div-one a,
.div-three a,
.div-two a {
  color: #E7403C;
}

.div-one a:hover,
.div-three a:hover,
.div-two a:hover {
  color: #fff;
}

.div-two {
  float: left;
  margin-left: 30%;
}

.div-three {
  float: right;
}
/*Form*/
label {
  float: left;
  width: 5em;
  text-align: right;
  margin-right: 10px;
}

.container {
  margin: 10px auto;
  width: 60%;
  overflow: hidden;
  padding: 30px;
  box-shadow: 0 4px 8px 0 rgba(231,64,60, 0.2), 0 2px 20px 0 rgba(231,64,60, 0.19);
  font-size: 15px;
  border-radius: 4px;
}

.contact-methods {
  display: flex;

  .icon {
    fill: #666;
    width: 3em;
    height: 3em;
  }

  .contact-method {
    display: flex;
    align-items: center;
    margin: 0.5em;
    flex-grow: 1;
    font-size: 1.4em;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #eeeeee;
    padding: 1em;
    border-radius: 2px;
    align-items: center;
    justify-content: center;
  }
}
